<md-dialog aria-label="">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>修改用户密码</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      Hello
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancle()" >
        取消
      </md-button>
      <md-button class="md-primary md-raised" ng-click="doChangePassword()" style="margin-right:20px;" >
        确定
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>