<md-dialog aria-label="" style="width:300px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>修改用户密码</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="padding: 20px;">
        <md-input-container>
            <label>原密码</label>
            <input ng-model="data.password" type="password">
        </md-input-container>
        <md-input-container>
            <label>新密码</label>
            <input ng-model="data.newPassword" type="password">
        </md-input-container>

        <md-input-container>
            <label>新密码</label>
            <input ng-model="data.newPassword2" type="password">
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            取消
        </md-button>
        <md-button class="md-primary md-raised" ng-click="answer('Y')" style="margin-right:20px;" ng-disabled="!(data.password && data.newPassword2 && data.newPassword2 === data.newPassword)">
            确定
        </md-button>
    </md-dialog-actions>
</md-dialog>
