<md-dialog aria-label="" style="width:500px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>用户信息</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layout="column" style="padding: 20px;">
        <div layout="row">
            <md-input-container flex>
                <label>用户名</label>
                <input ng-model="data.name" type="text">
            </md-input-container>
            <md-input-container flex>
                <md-datepicker ng-model="data.birthday" md-placeholder="出身日期"></md-datepicker>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <md-select ng-model="data.sex">
                    <label>性别</label>
                    <md-option ng-value="1">男</md-option>
                    <md-option ng-value="0">女</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <md-datepicker ng-model="data.entryTime" md-placeholder="入职时间"></md-datepicker>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>手机号码</label>
                <input ng-model="data.mobile" type="text">
            </md-input-container>
            <md-input-container flex>
                <label>固定电话</label>
                <input ng-model="data.phone" type="text">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>身份证号</label>
                <input ng-model="data.idCard" type="text">
            </md-input-container>
            <md-input-container flex>
                <label>邮箱</label>
                <input ng-model="data.mail" type="text" required>
            </md-input-container>
        </div>
        <div layout="row">
            <md-select flex placeholder="部门" ng-model="data.dept">
                <md-option ng-value="1">部门1</md-option>
                <md-option ng-value="2">部门2</md-option>
            </md-select>
            <md-select flex placeholder="角色" ng-model="data.role">
                <md-option ng-value="1">角色1</md-option>
                <md-option ng-value="2">角色2</md-option>
            </md-select>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            取消
        </md-button>
        <md-button class="md-primary md-raised" ng-click="answer('Y')" style="margin-right:20px;" ng-disabled="!(data.password && data.newPassword2 && data.newPassword2 === data.newPassword)">
            确定
        </md-button>
    </md-dialog-actions>
</md-dialog>
