<md-content flex layout="column" class="max_height">
    <div layout="row" class="xd_tool_bar">
        <md-button class="md-primary md-raised" ng-click="addSupplier()" ng-if="allow(42)">新增供应商</md-button>
        <md-button class="md-primary md-raised" ng-click="modSupplier()" ng-disabled="supplierGrid.selection.getSelectedRows().length!==1" ng-if="allow(43)">编辑供应商</md-button>

        <md-input-container flex="33" class="query-text">
            <label>部门</label>
            <md-select ng-model="query.dept">
                <md-option ng-repeat="dept in modal.depts" ng-value="dept">{{dept.name}}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div flex ui-grid="supplierGrid" ui-grid-pagination ui-grid-selection ui-grid-auto-resize class="max_height"></div>
</md-content>
