<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>增值税管理平台</title>
    <link rel="stylesheet" href="js/cache/angular-material.css" />
    <script type="text/javascript" src="js/cache/angular.js"></script>
    <script type="text/javascript" src="js/cache/angular-animate.js"></script>
    <script type="text/javascript" src="js/cache/angular-material.js"></script>
    <script type="text/javascript" src="js/cache/angular-aria.js"></script>
    <script src="//cdn.bootcss.com/angular-ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/angular-ui-grid/4.0.0/ui-grid.js"></script>
    <link href="//cdn.bootcss.com/angular-ui-grid/4.0.0/ui-grid.min.css" rel="stylesheet">
    <!-- tree -->
    <link href="//cdn.bootcss.com/angular-ui-tree/2.22.1/angular-ui-tree.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/angular-ui-tree/2.22.1/angular-ui-tree.js"></script>
    <link href="js/comp/kjvelarde-multiselect-searchtree-0.9.5.min.css" rel="stylesheet">
    <script src="js/comp/kjvelarde-multiselect-searchtree-0.9.5.min.js"></script>
    <script src="js/comp/kjvelarde-multiselect-searchtree-0.9.5.tpl.js"></script>
    <script src="js/comp/ngPopover.js"></script>
    <link href="js/comp/ngpopover.css" rel="stylesheet">
        <script src="js/comp/lf-ng-md-file-input.js"></script>
    <link href="js/comp/lf-ng-md-file-input.css" rel="stylesheet">

    <!-- my stuff-->
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/menu.css" />
    <script type="text/javascript" src="js/modules.js"></script>
    <script type="text/javascript" src="js/service/common.js"></script>
    <script type="text/javascript" src="js/service/menu.js"></script>
    <script type="text/javascript" src="js/service/xd-grid.js"></script>
    <script type="text/javascript" src="js/service/menu-directive.js"></script>
    <script type="text/javascript" src="js/service/modal.js"></script>
    <script type="text/javascript" src="js/service/module.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="test/app.js"></script>
    <script type="text/javascript" src="js/controller/user.js"></script>
    <script type="text/javascript" src="js/controller/login.js"></script>
    <script type="text/javascript" src="js/controller/conf.js"></script>
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a> {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
</head>

<body ng-app="xdApp" layout="column" ng-controller="taxController">
     <!-- <lf-ng-md-file-input flex aria-label="fileupload2" lf-files='importFile' lf-placeholder="my placeholder" lf-browse-label="选择文件"> </lf-ng-md-file-input> -->

     <label for="pictures"> </label>
     <input id="pictures" label="Upload Images" name="pictures" ngf-select="upload($file)" ng-model="pictures" accept="image/*" class="ng-pristine ng-valid md-input ng-touched" aria-invalid="false" style="">

    <!-- <multiselect-searchtree data-input-model="departments" multi-select="true" data-output-model="selectedItem2" data-callback="treeCallback(item, selectedItems)" data-select-only-leafs="false" extra-buttons="true"></multiselect-searchtree> -->

    <!--<ng-popover trigger="popover-trigger">
        <multiselect-searchtree data-input-model="departments" multi-select="false" data-output-model="selectedItem2" data-callback="treeCallback(item, selectedItems)" data-select-only-leafs="false" extra-buttons="true"></multiselect-searchtree>
    </ng-popover>
    
    <md-button id="popover-trigger" class="ng-popover-trigger">Open</md-button>
    -->
    <!-- <md-button ng-click="show()">OPEN</md-button>
    <div class="row">
        <div class="col-sm-6">
            <div ui-tree id="tree-root">
                <ol ui-tree-nodes ng-model="data">
                    <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="info">
                {{info}}
            </div>
            <pre class="code">{{ data | json }}</pre>
        </div>
    </div> -->
</body>

</html>
